$wallpaper: "/home/spectre/dotfiles/wallpapers/japan3.jpg";
$background: #0D0000;
$foreground: #E5F0F4;
$cursor: #B5A4AD;
$color0: #17090B;
$color1: #805D64;
$color2: #866E74;
$color3: #94707E;
$color4: #7B747E;
$color5: #8598A2;
$color6: #889FA9;
$color7: #D2E1E7;
$color8: #939DA2;
$color9: #976972;
$color10: #96717B;
$color11: #AD758A;
$color12: #9B929E;
$color13: #B2CAD7;
$color14: #B6D4E1;
$color15: #D2E1E7;
