/*
 _       __               ____              
| |     / /____ _ __  __ / __ ) ____ _ _____
| | /| / // __ `// / / // __  |/ __ `// ___/
| |/ |/ // /_/ // /_/ // /_/ // /_/ // /    
|__/|__/ \__,_/ \__, //_____/ \__,_//_/     
               /____/                       
---------------------------------------------------------------
Written by Samir Ahmed

Repository Link: https://github.com/samir176520/dotfiles
---------------------------------------------------------------               
*/

/*
rem: used to root things base layouts and spacing 
em: relevent for the parent element 


*/

@import '../../.cache/wallpaper-theme/colors.css';

/* ============ Animations ============ */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* ============ Base Settings ============ */
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 1rem;
  padding: 0em;
  margin: 0em;
}

/* ============ Waybar Container ============ */
window#waybar {
    background-color: @surface;
    color: @on_surface;
    border-bottom: 0.0625rem solid @outline; /* Optional subtle line */
}

/* ============ Modules Shared Style ============ */
#workspaces button,
#privacy-item,
#cpu,
#memory,
#temperature,
#pulseaudio,
#privacy,
#custom-camera,
#tray,
#battery,
#backlight,
#power-profiles-daemon,
#clock,
#custom-power,
#custom-launcher,
#hyprland-window,
#idle_inhibitor {
    padding: 0 0.5em;
    
    border-radius: 10em;
}

/* Hover Effects */
#workspaces button:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#pulseaudio:hover,
#privacy:hover,
#clock:hover,
#custom-launcher:hover,
#idle_inhibitor:hover {
    margin: 0 0.7em;
    border-radius: 0em;
    background: @surface_container_highest;
    color: @on_surface;
    transition:
        margin 0.6s ease,
        border-radius 0.5s ease;
}

/* Power button specific hover */
#custom-power:hover {
margin: 0 0.7em;
  color: @error;
      transition:
        margin 0.6s ease,
        border-radius 0.5s ease;
}

/* ============ Tooltip ============ */
tooltip {
  background-color: @surface;
  border: 0.1rem solid @tertiary;
  border-radius: 0.7rem;
}
tooltip label {
  color: @on_surface;
  padding: 0.3rem;
}

/* ============ Workspaces ============ */
#workspaces button {
  color: @on_surface;
}
#workspaces button label {
  letter-spacing: 0; /* Keeps icons tight */
}
#workspaces button.active {
  background: @primary_fixed_dim;
  color: @on_primary;
  border-radius: 0;
}
#workspaces button.urgent {
  background-color: @error;
}

/* ============ Idle Inhibitor ============ */
#idle_inhibitor.activated {
    background-color: @surface_container_highest;
    color: @on_surface;
    margin: 0;
  
}

/* ============ Temperature ============ */
#temperature.critical {
  background-color: @error;
}

/* ============ Privacy Indicators ============ */
#privacy-item.screenshare,
#custom-camera.active,
#privacy-item.audio-in {
  background-color: @error;
  color: @on_error;
  animation: blink 0.5s steps(12) infinite alternate;
}

/* ============ Camera Icon ============ */
#custom-camera {
  font-size: 1.2em;
}

/* ============ System Tray ============ */
#tray {
    padding: 0 0.5em 0 0.5em;
}


menu {
    background-color: @surface;
    border: 0.1rem solid @tertiary;
    border-radius: 0.7em;
    color: @on_surface;
    padding: 0.3rem;
}

#tray menu menuitem:hover {
  background: @primary_fixed_dim;
  color: @on_primary;
	border-radius: 0.35em;
}


/* ============ Power Profiles ============ */
#power-profiles-daemon {
  padding-right: 1rem;
}

#power-profiles-daemon.performance {
  background-color: @error;
  color: @on_error;
}

#power-profiles-daemon.balanced {
  background-color: @primary;
  color: @on_primary;
}

#power-profiles-daemon.power-saver {
  background-color: @tertiary;
  color: @on_tertiary;
}

/* ============ Battery ============ */
#battery.warning:not(.charging) {
  color: @on_error;
}

#battery.critical {
  background-color: @error;
  color: @on_error;
  animation: blink 0.5s steps(12) infinite alternate;
}

#battery.charging {
  background-color: @primary;
  color: @on_primary;
}


/* ============ Custom Power Button ============ */
#custom-power {
  padding: 0em 0.6em 0em 0em;
  color: @on_tertiary_container;

  font-size: 1.5em;
}

/*
for fonts:
1. "JetBrainsMono Nerd Font"
   ▪️ ممتازة للتطبيقات و الواجهات بشكل عام – نظيفة وواضحة
   ▪️ تثبيت:
      yay -S ttf-jetbrains-mono-nerd

2. "Iosevka Nerd Font"
   ▪️ خط برمجي نحيف ومنظم – مثالي للكود وتوزيع النصوص
   ▪️ تثبيت:
      yay -S ttf-iosevka-nerd

3. "FiraCode Nerd Font"
   ▪️ مشهور جدًا بين المبرمجين – يدعم ligatures
   ▪️ تثبيت:
      yay -S ttf-firacode-nerd

4. "Mononoki Nerd Font"
   ▪️ خط مميز ومريح للعين، ويشبه الخطوط التقليدية للكود
   ▪️ تثبيت:
      yay -S ttf-mononoki-nerd

5. "Hack Nerd Font"
 * خط كلاسيكي واضح ممتاز للطرفية وبيئات البرمجة.
 * تثبيت: yay -S ttf-hack-nerd أو تحميل يدوي من Nerd Fonts GitHub.
 * يدعم آلاف الأيقونات (Nerd Font) ويُميز الرموز بدقة (O/0, l/1).
 تثييت: 
  yay -S ttf-hack-nerd
  */
