/*
 _       __               ____              
| |     / /____ _ __  __ / __ ) ____ _ _____
| | /| / // __ `// / / // __  |/ __ `// ___/
| |/ |/ // /_/ // /_/ // /_/ // /_/ // /    
|__/|__/ \__,_/ \__, //_____/ \__,_//_/     
               /____/                       
---------------------------------------------------------------
Written by Samir Ahmed

Repository Link: https://github.com/samir176520/dotfiles
---------------------------------------------------------------               
*/

/*
rem: used to root things base layouts and spacing 
em: relevent for the parent element  
*/

@import '../../.cache/wallpaper-theme/colors.css';

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* === Global Defaults === */
* {

    font-family: "Iosevka Nerd Font", monospace;
    font-size: 1rem;
}

/* =========== Waybar Window ============== */
window#waybar {
    background-color: @surface;
    color: @on_surface;
}

/* ================= Shared Style ========= */
#workspaces button,
#privacy-item,
#cpu,
#memory,
#temperature,
#pulseaudio,
#privacy,
#custom-camera,
#tray,
#battery,
#backlight,
#power-profiles-daemon,
#clock,
#custom-power,
#custom-launcher,
#hyprland-window,
#idle_inhibitor {
    padding: 0 0.5em;
    
    border-radius: 5em;
}

/* Hover Effects */
#workspaces button:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#pulseaudio:hover,
#privacy:hover,
#battery:hover,
#clock:hover,
#custom-launcher:hover,
#idle_inhibitor:hover,
#custom-power:hover {
    margin: 0 0.7em;
    border-radius: 0em;
    background: @surface_container_highest;
    color: @on_surface;
    transition:
        margin 0.6s ease,
        border-radius 0.5s ease;
}

#custom-power:hover {
    border-radius: 0em;
    background: @error;
    color: @on_error;
}



/* Tooltip Style */
tooltip {
    background: @surface;
    border: 0.1em solid @tertiary;
    border-radius: 0.7em;
}

tooltip label {
    color: @on_surface;
    padding: 0.3em;
}

/*#######################################################################*/



/*################## Workspaces ######################*/
#workspaces button {
    color: @on_surface;
}

#workspaces button.active {
    color: @on_primary;
    background: @primary_fixed_dim;
    border-radius: 0em;
}

#workspaces button.urgent {
    background-color: @error;
}


/* ================ Idle Inhibitor ==================== */
#idle_inhibitor.activated {
    background-color: @surface_container_highest;
    color: @on_surface;
}

/* =============== Temperature Critical ================ */
#temperature.critical {
    background-color: @error;
}

/* =============== Privacy Items ========================= */
#privacy-item.screenshare,
#custom-camera.active {
    background-color: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#privacy-item.audio-in {
    background-color: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* =================== Camera Icon =============== */
#custom-camera {
    font-size: 1.2em;
}

/* =================== Tray ========================= */
#tray {
    background-color: @primary_container;
    border: 0.1em solid @on_primary;
    border-radius: 0.5em;
}

# #tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @error;
}


/* ================= Power Profiles ==================== */
#power-profiles-daemon {
    padding-right: 1em;
}

#power-profiles-daemon.performance {
    background-color: @error;
    color: @on_error;
}

#power-profiles-daemon.balanced {
    background-color: @primary;
    color: @on_primary;
}

#power-profiles-daemon.power-saver {
    background-color: @tertiary;
    color: @on_tertiary;
}


/*###################### battary ##############################*/
#battery.warning:not(.charging) {
    color: @on_error;
}

#battery.critical {
    background-color: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    background-color: @primary;
    color: @on_primary;
}


/* ==================== Custom Power Button ========== */
#custom-power {
    background: @tertiary_container;
    color: @on_tertiary_container;
    margin: 0em 0.3em;
    padding: 0em 0.4em;
    font-size: 1.7em;
}















